.horizontal-cards {
  display: flex;
  flex-wrap: wrap;
}

.card-horizontal {
  width: 200px;
  height: 150px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  text-align: center;
}

.card-horizontal:last-child {
  margin-right: 0;
}

.card-horizontal:hover {
  background-color: #e0e0e0;
}
